.custom-dropdown-control {
  border: none;
  height: 100%;
  width: 100%;
  color: #8b96a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0;
  outline: none;
}
.custom-dropdown-root {
  border: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0;
  outline: none;
}
.custom-dropdown-arrow {
  top: auto;
}
